<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users management</title>
</head>
<body>
<div>
    <form id="new-form" th:action="@{/new}" th:object="${user}" th:method="post" accept-charset="UTF-8">
        <label>
            Name: <input id="name" type="text" name="name" class="form-control" required
                         th:value="${user.name}">
        </label>
        <br/>
        <label>
            Login: <input id="login" type="text" name="login" class="form-control" required
                          th:value="${user.login}">
        </label>
        <br/>
        <label>
            Password: <input id="password" type="password" name="password" class="form-control" required
                             th:value="${user.password}">
        </label>
        <br/>
        <button type="reset" onclick="location.href='users'" class="btn btn-light">Cancel</button>
        <input type="submit" class="btn btn-success" value="Create">
    </form>
</div>
</body>
</html>
