<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users management</title>
</head>
<body>
<div>
    <nav class="navbar navbar-light bg-light">
        <button onclick="location.href='new'" class="btn btn-outline-success my-2 my-sm-0">Create a new user</button>
    </nav>
    <table class=table>
        <thead>
        <tr>
            <td><b>name</b></td>
            <td><b>login</b></td>
            <td><b>password</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.password}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
